{% extends "lab_10/layout/base.html" %}
{% block header %}
<header>
<nav>
    <div class="container-fluid" style="background: grey">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-10:index' %}" style="color: white">Lab 10</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="float: right;">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-10:movie_list' %}" style="color: white">Movie List</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}" style="color: white">Watch Later</a></li>
        {% if login %}
            <li><a href="{% url 'lab-10:auth_logout' %}" style="color: white; background-color: red;" onclick="return confirm('Keluar?')"> Logout </a></li>
        {% else %}
            <li><a href="{% url 'lab-10:index' %}" style="color: white; background-color: green;"> Login </a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
</header>
{% endblock %}
{% block content %}
<br>
    <div class="row-header" style="background-color: #494949; color: white; float: top">
            <h1> {{ movie.title }} </h1>
            <h5> {{ movie.rated }} | {{ movie.runtime }} | {{ movie.genre }} | {{ movie.released }} </h5>
    </div>
<div class="row">
    <div class="row-kanan">
        <img src="{{ movie.poster }}" style='width:30%; float: left; margin-left: 20px; margin-right: 20px;' class='img-responsive img-thumbnail'/>
        <p> {{ movie.plot }}</p>
        <h4> Year : {{ movie.year }}</h4>
        <h4> Rated : {{ movie.rated }}</h4>
        <h4> Director: {{ movie.director }}</h4>
        <h4> Writers: {{ movie.writer }}</h4>
        <h4> Actors: {{ movie.actors }}</h4>
        <h4> {{ movie.ratings.0.Source }} Rating : {{ movie.ratings.0.Value }} </h4>
        <div class="box">
        {% if added %}
            <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
            <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
        </div>
    </div>
</div>
{% endblock %}
