{% extends "lab_10/layout/base.html" %}
{% block header %}
<header>
<nav>
    <div class="container-fluid" style="background: grey">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-10:index' %}" style="color: white">Lab 10</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="float: right;">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-10:movie_list' %}" style="color: white">Movie List</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}" style="color: white">Watch Later</a></li>
        {% if login %}
            <li><a href="{% url 'lab-10:auth_logout' %}" style="color: white; background-color: red;" onclick="return confirm('Keluar?')"> Logout </a></li>
        {% else %}
            <li><a href="{% url 'lab-10:index' %}" style="color: white; background-color: green;"> Login </a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
</header>
{% endblock %}
{% block content %}
<br>
{% if watch_later_movies %}
  <table class="table">
    <thead style="background-color:grey;color:white;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Poster</th>
        <th scope="col">Duration</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in watch_later_movies %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{movie.title}}</td>
        <td><img src="{{movie.poster}}"/></td>
        <td>{{movie.runtime}}</td>
        <td><a href='/lab-10/movie/detail/{{movie.imdbid}}' class='btn btn-primary'> Detail </a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-danger text-center">
      <strong>Oops!</strong> No movies added.
  </div>
{% endif %}
{% endblock %}
