.button-login{
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}

.feed{
	margin: 0 auto;
	background-color: #9fdefc; 
	text-align: center;
	width: 50%;
	height: 100px;
}

.profile{
	text-align: center;
}

.picture{
	margin-top: -100px;
	position: relative;
    width: 200px;
    border-radius: 50%;
}

.postStatus{
	color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}

.logout{
	color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}


#postInput{
	width: 50%;
	height: 150px;
	text-align: center;
}

.feed h1, h2{
	font-size: 17px;
	color: white;
	text-align: center;
}

h1, h2, h3{
	color: white;
}
